footer{
    width: 100%;
    background-color: #0f0d1e;
    padding: 100px 0;
    .column{
        @include flexbox; 
        flex-direction: column;
        justify-content: space-between !important;
        .footer-up{
         @include flexbox; 
         flex-direction: row;
         justify-content: space-evenly;
         img{
             width: 50px;
             height: 50px;
             margin-right: 35px;
         }
         .footer-menu{
             @include flexbox; 
             flex-direction: row;
             align-items: flex-start;
             .footer-company{
                @include flexbox; 
                flex-direction: column;
                justify-content: space-between !important;
                align-items: flex-start;
                 h5{
                    color: #adaabf;
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 500;
                    text-align: center;
                    letter-spacing: 1.5px;
                 }
                 ul{
                     
                    li{
                        list-style: none;
                        padding: 10px;
                        a{
                            text-decoration: none;
                            color: whitesmoke;
                        }
                    }
                 }
             }
             .footer-resources{
                @include flexbox; 
                flex-direction: column;
                justify-content: space-between !important;
                align-items: flex-start;
                 h5{
                    color: #adaabf;
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    text-align: center;
                 }
                 p{
                     color: whitesmoke;
                 }
                 ul{
                     @include flexbox; 
                     flex-direction: column;
                     align-items: flex-start;
                     li{
                         list-style: none;
                         padding: 10px;
                         a{
                             color: whitesmoke;
                             text-decoration: none;

                         }
                     }
                 }
             }
             .footer-legal{
                @include flexbox; 
                flex-direction: column;
                align-items: flex-start;
                 h5{
                    color: #adaabf;
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    text-align: center;
                 }
                 ul{
                     @include flexbox; 
                     flex-direction: column;
                     align-items: flex-start;
                     li{
                         padding: 15px;
                         list-style: none;
                         a{
                             text-decoration: none;
                             color: whitesmoke;
                         }
                     }
                 }
             }
         }
         .subscribe{
             form{
                 input[type="submit"]{
                     background-color: rgb(77, 77, 185);
                     color: white;
                     width: 100px;
                 }
                .d-none {
                    display: none;
                }
                .error {
                    color: rgb(204, 66, 66);
                    font-size: 1rem;
                }
             }
             h5{
                color: #adaabf;
             }
             p{
                color: #adaabf;
             }
             input{
                 width: 100%;
                 padding: 10px;
                 border-radius: 5px;
             }
             a{
                background-color: #075eaa;
                padding: 15px 35px;
                border-radius: 5px;
                color: whitesmoke;
                text-decoration: none;
             }
         }
        }
        .footer-down{
            p{
                color: #adaabf;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width:1100px){
      footer{
          .column{
             .footer-up{
                 flex-wrap: wrap;
                 justify-content: flex-start;
                 align-items: flex-start;
                 .footer-menu{
                     width: 50%;
                     flex-direction: column;
                     align-items: flex-start;
                     .footer-company{
                         width: 100%;
                     }
                     .footer-resources{
                         width: 100%;
                     }
                     .footer-legal{
                         width: 100%;
                     }
                 }
                 .subscribe{
                     width: 50%;
                 }
             }
          }
      }
}

@media only screen and (max-width:700px){
    footer{
        .column{
            .footer-up{
                flex-direction: column;
                .footer-menu{
                    width: 100%;
                }
                .subscribe{
                    width: 100%;
                }
            }
        }
    }
}