#about{
    width: 100%;
    #about-us{
        padding: 85px 25px;
        .container{
            h4{
                text-align: center;
            }
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                .about-us-left{
                    color: black;
                }
                .about-us-right{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    #blog{
        width: 100%;
       .container{
        padding: 45px 25px;
        h1{
            text-align: center; 
        }
         .column{
             @include flexbox; 
             flex-direction: column;
             .blog-head{
                 @include flexbox; 
                 flex-direction: row;
                 justify-content: space-between;
                 align-items: flex-start;
                 padding: 35px;
                 .blog-head-item{
                     img{
                         width: 100%;
                     }
                     a{
                         font-size: 28px;
                         text-decoration: none;
                         color: #0A6AB7;
                     }
                     p{
                         font-size: 18px;
                     }
                 }
             }
             .blog-body{
                 @include flexbox;
                 flex-direction: row;
                 justify-content: space-around;
                 padding: 45px 35px;
                 
                 .blog-body-item{
                     text-align: center;
                     cursor: pointer;
                     padding: 45px 25px;
                     i{
                         font-size: 55px;
                         color: #0A6AB7;
                     }
                     h4{
                         font-size: 35px;
                     }
                     span{
                         width: 35px;
                         height: 20px;
                         background-color: brown;
                     }
                     p{
                         font-size: 20px;
                     }
                 }
             }
         }
       }
      
    }
}


@media only screen and (max-width:993px){
    #about-us{
       .container{
           .row{
               flex-direction: column !important;
               .about-us-left{
                   width: 100%;
                   margin-top: 25px;
                   text-align: center;
               }
               .about-us-right{
                   width: 100%;
               }
           }
       }
    }
    #blog{
        .container{
            .column{
                .blog-head{
                   display: none !important;
                }
                .blog-body{
                    flex-direction: column !important;
                    .blog-body-item{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:450px){
    #blog{
        .container{
            .column{
                .blog-head{
                   display: none !important;
                }
                .blog-body{
                    flex-direction: column !important;
                    .blog-body-item{
                        width: 100%;
                        text-align: center;
                        border: 1px solid black;
                        border-radius: 15px;
                        margin-top: 15px;
                        h4{
                            font-size: 25px !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:400px){
    #blog{
        .container{
            .column{
                .blog-head{
                   display: none !important;
                }
                .blog-body{
                    flex-direction: column !important;
                    .blog-body-item{
                        width: 100%;
                        text-align: center;
                        border: 1px solid black;
                        border-radius: 15px;
                        margin-top: 15px;
                        h4{
                            font-size: 25px !important;
                        }
                    }
                }
            }
        }
    }
  }