
    #checkout{
    width: 100%;
    .container{
      
        .column{
            @include flexbox; 
            flex-direction: column;
            justify-content: space-between;
            .checkout-head{
                width: 100%;
                img{
                    width: 150px;
                    height: 100px;
                }
                ul{
                    @include flexbox ;
                    flex-direction: row;
                    padding: 0;
                    list-style: none;
                    justify-content: space-between;
                    border-bottom: 5px solid #ced7df;
                    li{
                        text-align: center;
                        padding: 10px;
                        background-color: #f4f7f9;
                        width: 33%;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            color: black;
                        }
                        &.active{
                            background-color: #ced7df;

                        }
                    }
                }
            }
            .checkout-body{
                @include flexbox; 
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-around;
                width: 100%;
                .checkout-left{
                    @include flexbox ;
                    flex-direction: column;
                    h4{
                        width: 100%;
                        background-color: #f4f7f9;
                        color: black;
                        padding: 15px;
                    }
                    form{
                        width: 100%;
                        @include flexbox; 
                        flex-direction: column;
                        justify-content: space-between;
                        background-color: #f4f7f9;
                        padding: 15px;
                            .row{
                                margin-bottom: 20px;
                                .form-item{
                                    label{
                                        font-weight: 600;
                                    }
                                    input{
                                        width: 100%;
                                        border:1px solid rgba(0, 0, 0, 0.212);
                                        border-radius: 5px;
                                        padding: 10px;
                                    }
                                    select{
                                        width: 100%;
                                        border:1px solid rgba(0, 0, 0, 0.212);
                                        border-radius: 5px;
                                        padding: 10px;
                                    }
                                
                                } 
                               
                             }
                             input[type=submit]{
                                width: 100%;
                                padding: 10px;
                                border: none;
                                background-color: #0A6AB7;
                                color: white;
                            }
                    }
                }
                .checkout-right{
                    h4{
                        width: 100%;
                        padding: 15px;
                        background-color: #f4f7f9;
                    }
                    .checkout-right-body{
                        width: 100%;
                        ul{
                            padding: 0;
                            list-style: none;
                            li{
                                margin-bottom: 25px;
                                span{
                                    float: right;
                                }
                                a{
                                    background-color: #0A6AB7;
                                    color: white;
                                    padding: 15px 25px;
                                    text-decoration: none;
                                }
                                b{
                                    
                                    font-size: 25px;
                                }
                                .pr-right{
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


