#glass{
    @include flexbox;
    flex-direction: column;
    width: 100%;
    height: max-content;
    #cs-select-glass{
        width: 100%;
        .container{
            padding: 35px 15px;
            .column{
                @include flexbox; 
                flex-direction: column;
                align-items: center;
                .select-shape{
                    @include flexbox; 
                    flex-direction: column;
                   .shape-head{
                       background-color: #0A6AB7;
                       text-align: center;
                       padding: 15px;
                       border-top-left-radius: 10px;
                       border-top-right-radius: 10px;
                   }
                    .shapes{
                        @include flexbox; 
                        flex-direction: row;
                        justify-content: space-around;
                        padding: 25px 0;
                        .shapes-item{
                            text-align: center;
                            border-radius: 10px;
                            padding: 25px 10px;
                            img{
                                width: 100px;
                                height: 100px;
                            }
                            a{
                                text-decoration: none;
                                color: black;
                                padding: 15px 25px;
                                border: 1px solid black;
                                border-radius: 10px;
                                &:hover{
                                    background-color: #0A6AB7;
                                    transition: background-color 0.5s linear;
                                }
                            }
                        }
                    }
                    a{
                       font-size: 20px;
                       text-decoration: none;
                       color: orange;
                    }
                }
            }
        }
        
    }
    #about-us{
        width: 100%;
        .container{
            padding: 45px 25px;
            .row{
                @include flexbox; 
                flex-direction: row;
                .about-us-right{
                    img{
                        width: 100%;
                    }
                }
            }
        }
        
    }
    #where-use{
        width: 100%;
        .container{
            padding: 45px 25px;
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-between;
                .where-use-left{
                    img{
                        width: 100%;
                    }
                }
                .where-use-right{
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
        
    }
    #ordering{
        width: 100%;
        .container{
            padding: 45px 25px;
            p{
                font-size: 20px;
            }
        }
    }
    #safety{
        width: 100%;
        .container{
             padding: 45px 25px;
             .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                .sft-left{
                    img{
                        width: 100%;
                    }
                }
                .sft-right{
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
       
    }
    #faq{
        width: 100%;
        .container{
            padding: 45px 25px;
            h4{
                text-align: center;
            }
            .column{
                @include flexbox; 
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .accordion{
                    width: 100%;
                    border: none;
                    background-color: #0A6AB7;
                    text-align: left;
                    padding:  15px;
                    
                }
                .panel{
                    padding: 0 18px;
                    max-height: 0;
                    margin-top: 15px;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }
            }
        }
    }
    #tool{
        width: 100%;
        .container{
            padding: 45px 25px;
            h4{
                text-align: center;
            }
            p{
                font-size: 20px;
            }
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .tool-item{
                    @include flexbox; 
                    flex-direction: row;
                    justify-content: space-around;
                    .tl-item-right{
                        a{
                            text-decoration: none;
                            color: black;
                            border: 1px solid black;
                            padding: 15px 10px;
                            &:hover{
                                background-color: #0A6AB7;
                                transition: background-color 0.5s linear;
                            }
                        }
                    }
                }
            }
        }
    }
    #videos{
        width: 100%;
        .container{
            padding: 45px 25px;
            h2{
                text-align: center; 
              
            }
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .vd-item{
                    position: relative;
                    text-align: center;
                    img{
                        width: 100%;
                    }
                    i{
                        position: absolute;
                        top: 75px;
                        left: 145px;
                        color: #0A6AB7;
                        cursor: pointer;
                        font-size: 55px;
                        &::before{
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
    #related{
        width: 100%;
        .container{
            padding: 45px 25px;
            h2{
                text-align: center;
            }
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .related-item{
                    text-align: center;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    #blog{
        width: 100%;
       .container{
        padding: 45px 25px;
        h1{
            text-align: center; 
        }
         .column{
             @include flexbox; 
             flex-direction: column;
             .blog-head{
                 @include flexbox; 
                 flex-direction: row;
                 justify-content: space-between;
                 padding: 35px;
                 .blog-head-item{
                     img{
                         width: 100%;
                     }
                     a{
                         font-size: 25px;
                     }
                     p{
                         font-size: 18px;
                     }
                 }
             }
             .blog-body{
                 @include flexbox;
                 flex-direction: row;
                 justify-content: space-around;
                 padding: 45px 35px;
                 
                 .blog-body-item{
                     text-align: center;
                     cursor: pointer;
                     padding: 45px 25px;
                     i{
                         font-size: 55px;
                         color: #0A6AB7;
                     }
                     h4{
                         font-size: 35px;
                     }
                     span{
                         width: 35px;
                         height: 20px;
                         background-color: brown;
                     }
                     p{
                         font-size: 20px;
                     }
                 }
             }
         }
       }
      
    }
}