#glasstable{
    @include flexbox;
    flex-direction: column;
    width: 100%;
    height: max-content;
    #cs-select-glass{
        width: 100%;
        .container{
            padding: 35px 15px;
            background-color: none;
            .column{
                @include flexbox; 
                flex-direction: column;
                align-items: center;
                .select-shape{
                    @include flexbox; 
                    flex-direction: column;
                   .shape-head{
                       background-color: #0A6AB7;
                       text-align: center;
                       padding: 15px;
                       border-top-left-radius: 10px;
                       border-top-right-radius: 10px;
                   }
                    .shapes{
                        @include flexbox; 
                        flex-direction: row;
                        justify-content: space-around;
                        padding: 25px 15px;
                        border: 1px black solid;
                        border-top: none;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        .shapes-item{
                            text-align: center;
                            border-radius: 10px;
                            padding: 25px 10px;
                            img{
                                width: 100px;
                                height: 100px;
                            }
                            a{
                                text-decoration: none;
                                color: black;
                                padding: 15px 25px;
                                border: 1px solid black;
                                border-radius: 10px;
                                &:hover{
                                    background-color: #0A6AB7;
                                    transition: background-color 0.5s linear;
                                }
                            }
                          
                        }
                        .measurement{
                            width: 100%;
                            @include flexbox; 
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-start;
                            a{
                                text-decoration: underline;
                               color: #0A6AB7;
                            }
                           .mt-contain{
                            @include flexbox; 
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: flex-start;
                            .mtimg{
                                img{
                                    width: 60%;
                                }
                            }
                           }
                        }
                    }
                    a{
                       font-size: 20px;
                       text-decoration: none;
                       color: orange;
                    }
                }
            }
        }
        
    }
    #collection{
        width: 100%;
        .container{
            padding: 45px 25px;
            text-align: center;
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .collection-item{
                    border-radius: 5px;
                    padding: 35px 15px;
                    img{
                        width: 100%;
                    }
                    a{
                        text-decoration: none;
                        padding: 15px 65px;
                        border: 1px solid black;
                        border-radius: 5px;
                        color: #1b1734;
                        &:hover{
                            background-color: #0A6AB7;
                            transition: background-color 0.5s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    #shopping{
        width: 100%;
        
        .container{
            color: black;
            padding: 45px 25px;
            padding: 25px;
            h2{
                text-align: center;
            }
            img{
                width: 90%;
                margin: 0 65px;
            }
            ul{
                li{
                    &::marker{
                        color: blue;
                    }
                    a{
                        text-decoration: none;
                        color: orange;
                    }
                }
            }
        }
    }
    #related{
        width: 100%;
        .container{
            padding: 45px 25px;
            h2{
                text-align: center;
            }
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .related-item{
                    text-align: center;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    #edge-finishes{
        width: 100%;
        .container{
            color: black;
            padding: 45px 25px;
            h2{
                text-align: center;
            }
           .row{
               @include flexbox; 
               flex-direction: row;
               justify-content: space-around;
               .finishes-item{
                   img{
                       width: 100%;
                   }
               }
           } 
        }
    }
    #thickness{
        width: 100%;
        .container{
            text-align: center;
            padding: 45px 25px;
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .thick-left{
                    position: relative;
                    img{
                        width: 100%;
                        height: 400px;
                    }
                    i{
                        position: absolute;
                        top: 150px;
                        left: 240px;
                        font-size: 55px;
                        color: #0A6AB7;
                    }
                }
                .thick-right{
                    table{
                        height: max-content;
                        text-align: left;
                    }
                }
            }
        }
    }
    #tempered{
        width: 100%;
        .container{
            padding: 45px 25px;
            h2{
                text-align: center
            }
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .temp-right{
                    position: relative;
                    img{
                        width: 100%;
                    }
                    i{
                        position: absolute;
                        top: 130px;
                        left: 220px;
                        color: #0A6AB7;
                        font-size: 85px;
                    }
                }
            }
        }
    }
    #gltbfinish{
        width: 100%;
        .container{
            text-align: center;
            padding: 45px 25px;
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                .gl-tb-item{
                    text-align: left;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    #faq{
        width: 100%;
        .container{
            padding: 45px 25px;
            h4{
                text-align: center;
            }
            .column{
                @include flexbox; 
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .accordion{
                    width: 100%;
                    border: none;
                    background-color: #0A6AB7;
                    text-align: left;
                    padding:  15px;
                    
                }
                .panel{
                    padding: 0 18px;
                    max-height: 0;
                    margin-top: 15px;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }
            }
        }
    }

    #blog{
        width: 100%;
       .container{
        padding: 45px 25px;
        h1{
            text-align: center; 
        }
         .column{
             @include flexbox; 
             flex-direction: column;
             .blog-head{
                 @include flexbox; 
                 flex-direction: row;
                 justify-content: space-between;
                 padding: 35px;
                 .blog-head-item{
                     img{
                         width: 100%;
                     }
                     a{
                         font-size: 25px;
                     }
                     p{
                         font-size: 18px;
                     }
                 }
             }
             .blog-body{
                 @include flexbox;
                 flex-direction: row;
                 justify-content: space-around;
                 padding: 45px 35px;
                 
                 .blog-body-item{
                     text-align: center;
                     cursor: pointer;
                     padding: 45px 25px;
                     i{
                         font-size: 55px;
                         color: #0A6AB7;
                     }
                     h4{
                         font-size: 35px;
                     }
                     span{
                         width: 35px;
                         height: 20px;
                         background-color: brown;
                     }
                     p{
                         font-size: 20px;
                     }
                 }
             }
         }
       }
      
    }
}