#glasstable{
    @include flexbox;
    flex-direction: column;
    width: 100%;
    height: max-content;
    #cs-select-glass{
        width: 100%;
        background-color: #271d74;
        color: white;
        padding: 35px 15px;
        .column{
            @include flexbox; 
            flex-direction: column;
            align-items: center;
            .select-shape{
                @include flexbox; 
                flex-direction: column;
               .shape-head{
                   background-color: #1e1a3d;
                   text-align: center;
                   padding: 15px;
                   border-top-left-radius: 10px;
                   border-top-right-radius: 10px;
               }
                .shapes{
                    @include flexbox; 
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 25px 0;
                    .shapes-item{
                        background-color: #1e1a3d;
                        text-align: center;
                        border-radius: 10px;
                        padding: 25px 10px;
                        img{
                            width: 100px;
                            height: 100px;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                            padding: 15px 25px;
                            border: 1px solid white;
                            border-radius: 10px;
                        }
                    }
                }
                a{
                   font-size: 20px;
                   text-decoration: none;
                   color: orange;
                }
            }
        }
    }
    #collection{
        width: 100%;
        padding: 45px 25px;
        background-color: #1e1a3d;
        .container{
            color: white;
            text-align: center;
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .collection-item{
                    border: 1px solid white;
                    border-radius: 5px;
                    padding: 35px 15px;
                    img{
                        width: 100%;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                        padding: 15px 65px;
                        border: 1px solid white;
                        border-radius: 5px;
                        &:hover{
                            background-color: darkgreen;
                            transition: background-color 0.5s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    #shopping{
        width: 100%;
        padding: 45px 25px;
        background-color: white;
        .container{
            color: black;
            border: 1px solid black;
            background-color: aliceblue;
            padding: 25px;
            h2{
                text-align: center;
            }
            img{
                width: 90%;
                margin: 0 65px;
            }
            ul{
                li{
                    &::marker{
                        color: blue;
                    }
                    a{
                        text-decoration: none;
                        color: orange;
                    }
                }
            }
        }
    }
    #related{
        width: 100%;
        padding: 45px 25px;
        background-color: white;
        .container{
            color: white;
            h2{
                text-align: center;
            }
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .related-item{
                    text-align: center;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    #edge-finishes{
        width: 100%;
        padding: 45px 25px;
        background-color: aliceblue;
        .container{
            color: black;
            h2{
                text-align: center;
            }
           .row{
               @include flexbox; 
               flex-direction: row;
               justify-content: space-around;
               .finishes-item{
                   img{
                       width: 100%;
                   }
               }
           } 
        }
    }
    #thickness{
        width: 100%;
        padding: 45px 25px;
        .container{
            text-align: center;
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .thick-left{
                    position: relative;
                    img{
                        width: 100%;
                        height: 400px;
                    }
                    i{
                        position: absolute;
                        top: 150px;
                        left: 240px;
                        font-size: 55px;
                        color: red;
                    }
                }
                .thick-right{
                    table{
                        height: max-content;
                        text-align: left;
                    }
                }
            }
        }
    }
    #tempered{
        width: 100%;
        padding: 45px 25px;
        .container{
            h2{
                text-align: center
            }
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .temp-right{
                    position: relative;
                    img{
                        width: 100%;
                    }
                    i{
                        position: absolute;
                        top: 130px;
                        left: 220px;
                        color: red;
                        font-size: 85px;
                    }
                }
            }
        }
    }
    #gltbfinish{
        width: 100%;
        padding: 45px 25px;
        .container{
            text-align: center;
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                .gl-tb-item{
                    text-align: left;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    #faq{
        width: 100%;
        background-color: #1e1a3d;
        padding: 45px 25px;
        .container{
            color: white;
            h4{
                text-align: center;
            }
            .column{
                @include flexbox; 
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .accordion{
                    width: 100%;
                    border: none;
                    background-color: #271d74;
                    color: white;
                    text-align: left;
                    padding:  15px;
                    
                }
                .panel{
                    padding: 0 18px;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }
            }
        }
    }

    #blog{
        width: 100%;
        padding: 55px 25px;
        background-color: #1b1734;
       h1{
           color: white; 
           text-align: center; 
           font-weight: 200;
       }
        .column{
            @include flexbox; 
            flex-direction: column;
            .blog-head{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-between;
                padding: 35px;
                .blog-head-item{
                    color: white;
                    img{
                        width: 100%;
                    }
                    a{
                        color: white;
                        font-size: 25px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
            .blog-body{
                @include flexbox;
                flex-direction: row;
                justify-content: space-around;
                padding: 45px 35px;
                .blog-body-item{
                    text-align: center;
                    color: white;
                    padding: 45px 25px;
                    background-color: #0f0d1ec5;
                    border: 1px solid black;
                    i{
                        font-size: 55px;
                        color: #3400e0;
                    }
                    h4{
                        font-size: 35px;
                    }
                    span{
                        width: 35px;
                        height: 20px;
                        background-color: brown;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}