#cancellation{
    width: 100%;
    #cancelover{
        width: 100%;
        .cancel-overlay{
            text-align: center;
           .cancel-overlay-head{
               padding: 5px;
               background-color: #0A6AB7;
               a{
                text-decoration: none;
                color: black;
               }
           }
           .cancel-overlay-body{
               opacity: 0;
               height: 0;
               transition: height 1s ease, opacity 1s ease;

               background-color: rgba(240, 255, 255, 0.363);
             
               h3{
                   color: #0A6AB7;
               }
               ul{
                  @include flexbox; 
                  flex-direction: column;
                  align-items: flex-start;
                  list-style: none;
                  li{
                      a{
                          text-decoration: none;
                          color: black;
                      }
                  }
               }
               &.active{
                   opacity: 1;
                   height: 400px;
                   padding: 15px;
                   transition: height 1s ease, opacity 1s ease;

               }
           }
        }
    }
    #order-cancel{
        padding: 85px 25px;
        .container{
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                .cancel-left{
                    ul{
                        @include flexbox; 
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0;
                        li{
                            list-style: none;
                            a{
                                text-decoration: none;
                            }
                        }
                    }
                }
                .cancel-right{
                    @include flexbox;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                }
            }
        }
    }
}




@media only screen and (max-width:774px){
    #order-cancel{
        .container{
           .row{
               .cancel-left{
                   display: none !important;
               }
           }
        }
    }
}