#rnpolicy{
    @include flexbox; 
    flex-direction: column;
    justify-content: space-between;
    #policyimg{
        .container{
            img{
                width: 100%;
            }
        }
    }
    #cancelover{
        width: 100%;
        .cancel-overlay{
            text-align: center;
           .cancel-overlay-head{
               padding: 5px;
               background-color: #0A6AB7;
               a{
                text-decoration: none;
                color: black;
               }
           }
           .cancel-overlay-body{
               overflow: hidden;
               max-height: 0;
               transition: max-height 0.5s linear;
               background-color: rgba(240, 255, 255, 0.363);
             
               h3{
                   color: #0A6AB7;
               }
               ul{
                  @include flexbox; 
                  flex-direction: column;
                  align-items: flex-start;
                  list-style: none;
                  li{
                      a{
                          text-decoration: none;
                          color: black;
                      }
                  }
               }
               &.active{
                   overflow: visible;
                   max-height: max-content;
                   padding: 15px;
                   transition: max-height 0.5s linear;
               }
           }
        }
    }
    #policybody{
        width: 100%;
        .container{
            padding: 85px 25px;
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                .policy-left{
                    ul{
                        @include flexbox; 
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0;
                        li{
                            list-style: none;
                            a{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:774px){
    #policybody{
     
        .policy-left{
                        display: none !important;
                    }
                    .policy-right{
                        width: 100%;
                    }
                
    
    }
}