#service{
    @include flexbox;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    #srv-menu{
        width: 100%;
        .container{
            padding: 85px 25px;
            .row{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                ul{
                    @include flexbox; 
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0;
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

}