#shop{
    width: 100%;
    .container{
        padding: 85px 25px;
        .row{
            @include flexbox; 
            flex-direction: row;
            align-items: flex-start;
            .shop-left{
                .inner-page-sidebar{
                    @include flexbox; 
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: baseline;
                    .single-block{
                        @include flexbox; 
                        flex-direction: column;
                        align-items: center;
                        border: 1px solid #0A6AB7;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        margin-bottom: 15px;
                        width: 100%;
                        .sidebar-title{
                            background-color: #0A6AB7;
                            padding: 15px 35px;
                            width: 100%;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                        .sidebar-menu--shop{
                            @include flexbox; 
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 0;
                            li{
                                list-style: none;
                                padding: 10px;
                                border-bottom: 1px solid #0A6AB7;
                               a{
                                   text-decoration: none;
                                   color: black;
                               }
                            }
                        }
                        input{
                            padding: 15px;
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .shop-right{
               .shop-toolbar{
                   background-color: #0A6AB7;
                   border-top-left-radius: 10px;
                   border-top-right-radius: 10px;
                   height: max-content;
                   padding: 10px 25px;
                   .row{
                       @include flexbox; 
                       flex-direction: row;
                       align-items: center;
                       .toolbar-item{
                           @include flexbox; 
                           flex-direction: row;
                           justify-content: space-between;
                           .toolbar-status{
                               width: 100%;
                           }
                           span{
                               width: 90px;
                           }
                       }
                   }
               }
               .shop-items{
                   .row{
                    @include flexbox; 
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                    .shop-item{
                        flex: 0 1 calc(30% - 1em);
                        padding: 25px;
                        margin-top: 25px;
                        text-align: center;
                        background-color: rgba(255, 255, 255, 0.137);
                        border-radius: 10px;
                        img{
                            width: 100%;
                        }
                        a{
                            text-decoration: none;
                            cursor: pointer;
                            color: black;
                            font-size: 20px;
                        }
                        small{
                            color: #0A6AB7;
                        }
                        p{
                            color: black;
                            font-size: 25px;
                        }
                        .shop-btn{
                            padding: 15px;
                            border-radius: 10px;
                            background-color: #0A6AB7;
                            color: white;
                            &:hover{
                                background-color: #18588b;
                                transition: background-color 0.3s linear;
                            }
                        }
                    }

                   }
               }
            }
        }
    }
}