$color-primary: #000000;
$color-secondary: #5b35d5;
$color-terninary: white;

$color-primary: #0f0d1e;
$color-primary-hover: #1b1734;
$color-link-hover:#5b35d5;
$color-secondary: #5b35d5;
$color-heading-green:#00d8be;
$color-heading-blue:#33abd1;
$color-heading-orange:#ff9a83;
$color-gray:#adaabf;
$color-white: #ffffff;
$color-black: #000000;
$color-bg-white:#ebeaf5;
$color-button:#322b5f;

$color-dark-gray:#5b557f;