
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    section{
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.137);
    }
    #header-page{
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.068);
    }
  }